<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <title>Consulta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/styles.css">  
  <script src="/DLL.js"></script>
</head>
<body>

  <div class="w3-container">

    <h1 class="w3-left">          
        <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(255, 255, 255);width: 250px;" class="w3-input"
        type="text" value="Usuario:<%= global.user.nome %>" readonly>     
  </h1>

    <h1 class="w3-left">
        <a href="/Carteira/DefinirSaldoUsuario" class="SemBorda">           
          <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(96, 252, 0);width: 260px;" class="w3-input pointer"
          type="text" value="Saldo: $ <%= global.user.saldo %>" readonly>
        </a>
    </h1>

    <h1 class="w3-left">
      <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(238, 3, 3);width: 260px;" class="w3-input"
        type="text" value="Devendo: $ <%= valorTotalPendente.toFixed(2) %>" readonly>
    </h1>

    <h1 class="w3-left">
      <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(37, 0, 248);width: 260px;" class="w3-input"
        type="text" value="A Receber: $ <%= valorTotalPendenteRecebimento.toFixed(2) %>" readonly>
    </h1>

    <h1 class="w3-left">
      <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(182, 236, 3);width: 260px;" class="w3-input"
        type="text" value="Estimativa: $ <%= valorTotalEstimativa.toFixed(2) %>" readonly>
    </h1>    
  </div>
  
  <form class="" action="/Carteira/ConsultandoGastosResumoAnual" method="POST">
  <div class="container w3-left">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
    <div class="collapse navbar-collapse" id="mynavbar">
        <input id="data" name="ano" class="form-control me-2" type="number" placeholder="YYYY" min="2022" max="2100" value="<%= anoSelect %>">
        <button class="btn btn-primary me-2" name="PESQUISAR" value="true">Atualizar</button>
        <a href="/ContaBancaria" class="btn btn-primary me-2">Cadastrar Contas Bancarias</a>
        <a href="/Fatura" class="btn btn-primary me-2">Consultar Faturas</a>
        <a href="/" class="btn btn-primary me-2">Sair</a>
    </div>
    </div>
    </nav>
  </div>
</form>
  <div class="container w3-left">
 
     <!--GASTOS -->
    <div class="container mt-3">  
      <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped">
        <thead>
          <tr> 
            <td>
              <a href="/MotivoGastos/AbrirAdicao" class="SemBorda">          
                <button name="" value="" class="w3-tiny w3-round  btn-primary">+</button> GASTOS  
              </a>
            </td>     
            <th>Janeiro</th>  
            <th>Fevereiro</th> 
            <th>Março</th> 
            <th>Abril</th> 
            <th>Maio</th> 
            <th>Junho</th> 
            <th>Julho</th>
            <th>Agosto</th>  
            <th>Setembro</th> 
            <th>Outubro</th>
            <th>Novembro</th>
            <th>Dezembro</th>
            <th></th>
          </tr>
        </thead>
        <tbody> 
          <% resumo.forEach(dado => { %>
            <%  if(dado.ano == anoSelect) { %>           
            <tr>
              <td><b><%= dado.motivo %></b></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|01|<%= anoSelect %>" class="SemBorda cell"> <%= dado.janeiro %></a></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|02|<%= anoSelect %>" class="SemBorda cell"> <%= dado.fevereiro %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|03|<%= anoSelect %>" class="SemBorda cell"> <%= dado.marco %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|04|<%= anoSelect %>" class="SemBorda cell"> <%= dado.abril %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|05|<%= anoSelect %>" class="SemBorda cell"> <%= dado.maio %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|06|<%= anoSelect %>" class="SemBorda cell"> <%= dado.junho %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|07|<%= anoSelect %>" class="SemBorda cell"> <%= dado.julho %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|08|<%= anoSelect %>" class="SemBorda cell"> <%= dado.agosto %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|09|<%= anoSelect %>" class="SemBorda cell"> <%= dado.setembro %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|10|<%= anoSelect %>" class="SemBorda cell"> <%= dado.outubro %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|11|<%= anoSelect %>" class="SemBorda cell"> <%= dado.novembro %></td>
              <td><a href="/Carteira/RegistrarGastos<%= dado.motivo %>|12|<%= anoSelect %>" class="SemBorda cell"> <%= dado.dezembro %></td>
                <td>
                  <a href="/Carteira/ClickGastos<%= dado.motivo %>" class="SemBorda">          
                    <button class="w3-tiny w3-round btn-primary">>></button>
                  </a>
                </td>    
            </tr> 
            <% } %>  
          <% }); %> 
          <tr style="background-color: rgb(142, 140, 140);">
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);">TOTAL</td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.janeiro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.fevereiro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.marco.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.abril.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.maio.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.junho.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.julho.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.agosto.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.setembro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.outubro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.novembro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><%= totais.dezembro.toFixed(2) %></td> 
            <td></td>           
          </tr> 
        </tbody>
      </table>
    </div>

     <!--CREDITOS -->
     <div class="container mt-3">  
      <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped">
        <thead>
          <tr style="background-color:  rgb(142, 140, 140);">
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);">TOTAL</td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.janeiro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.fevereiro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.marco.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.abril.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.maio.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.junho.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.julho.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.agosto.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.setembro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.outubro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.novembro.toFixed(2) %></td>
            <td style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><%= totaisCredi.dezembro.toFixed(2) %></td> 
            <td></td>           
          </tr> 
          <tr> 
            <td><a href="/OrigemCredito/AbrirAdicao" class="SemBorda"> <button name="" value="" class="w3-tiny w3-round  btn-primary">+</button> GANHOS</a></td>     
            <th>Janeiro</th>  
            <th>Fevereiro</th> 
            <th>Março</th> 
            <th>Abril</th> 
            <th>Maio</th> 
            <th>Junho</th> 
            <th>Julho</th>
            <th>Agosto</th>  
            <th>Setembro</th> 
            <th>Outubro</th>
            <th>Novembro</th>
            <th>Dezembro</th>
            <th></th>
          </tr>
        </thead>
        <tbody> 
          <% resumoCredi.forEach(dado => { %>
            <%  if(dado.ano == anoSelect) { %>           
            <tr>
              <td><b><%= dado.motivo %></b></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|01|<%= anoSelect %>" class="SemBorda cell"> <%= dado.janeiro %></a></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|02|<%= anoSelect %>" class="SemBorda cell"> <%= dado.fevereiro %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|03|<%= anoSelect %>" class="SemBorda cell"> <%= dado.marco %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|04|<%= anoSelect %>" class="SemBorda cell"> <%= dado.abril %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|05|<%= anoSelect %>" class="SemBorda cell"> <%= dado.maio %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|06|<%= anoSelect %>" class="SemBorda cell"> <%= dado.junho %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|07|<%= anoSelect %>" class="SemBorda cell"> <%= dado.julho %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|08|<%= anoSelect %>" class="SemBorda cell"> <%= dado.agosto %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|09|<%= anoSelect %>" class="SemBorda cell"> <%= dado.setembro %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|10|<%= anoSelect %>" class="SemBorda cell"> <%= dado.outubro %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|11|<%= anoSelect %>" class="SemBorda cell"> <%= dado.novembro %></td>
              <td><a href="/Carteira/RegistrarCreditos<%= dado.motivo %>|12|<%= anoSelect %>" class="SemBorda cell"> <%= dado.dezembro %></td>
                <td>
                  <a href="/Carteira/ClickCreditos<%= dado.motivo %>" class="SemBorda">          
                    <button class="w3-tiny w3-round btn-primary">>></button>
                  </a>
                </td>    
            </tr> 
            <% } %>  
          <% }); %> 
        </tbody>
      </table>
    </div>
  </div>


</body>
</html>
