<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <title>Consulta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> 
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <link rel="stylesheet" href="/styles.css">
  <script src="/DLL.js"></script>
</head>
<body>
   <!-- ================================================== MODAL ============================================= -->

    <!-- JANELA GASTOS -->
   <div class="modal" id="modalJanelaGasto">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
          <div class="modal-header">
            <h4 id="TituloJanelaGasto" class="modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>   
         
          <div class="modal-body">
            <div class="form-group">            
              
              <div class="container mt-3">
                <h4>Registro de Gastos</h4>
                <br>
                
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#AdicionarGasto">Adicionar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#ListaGasto">Lista</a>
                  </li>                  
                </ul>
                
                <div class="tab-content">

                  <!-- ADD -->
                  <div id="AdicionarGasto" class="container tab-pane active"><br>
                    <form class="w3-container was-validated" action="/Carteira/CofirmarRegistroGastos" method="post">

                      <input placeholder="Valor" class="form-control" type="number" step="0.01" name="valor" style="width: auto;" required>
                      <br>
                  
                      <input id="campoMotivoGasto" class="form-control" type="text" name="motivoGastos" style="width: auto;" hidden readonly> 
                  
                      <input id="campoDataGasto" class="w3-input w3-border form-control me-2" type="date" name="dtVencimento" required>
                      <br>
                  
                      <select class="form-control me-2" name="formaPagamento" style="width: auto;" required>
                        <option value="" disabled selected>Forma de Pagamento</option>           
                        <option value="DINHEIRO">DINHEIRO</option>
                        <option value="CARTAO">CARTAO</option>
                      </select>
                      <br>
                  
                      <select class="form-control me-2" name="conta" style="width: auto;" required>      
                        <option value="" disabled selected>Contas</option>              
                        <% Contas.forEach(c => { %>
                          <option value="<%= c.id %>|<%= c.descricao %>"><%= c.descricao %></option>
                        <% }); %>
                      </select>
                      <br>
                  
                      <input placeholder="TAG(Opcional)" class="w3-input w3-border form-control me-2" type="text" onkeyup="this.value = this.value.toLowerCase();" name="tag" maxlength="10">
                      <br>

                      <div id="orcamentodiv">
                        <input type="checkbox" name="orcamento" id="orcamento" onclick="checkName('orcamento',['parceladodiv','pagodiv','faturadiv'])"> Esse registro é para um ORÇAMENTO?
                      </div>
                  
                      <div id="parceladodiv">
                        <input type="checkbox" name="parcelado" id="parcelado" onclick="checkName('parcelado',['fimAnodiv','orcamentodiv'])"> Esse valor é parcelado?
                        <br>
                          <div id="divTpValor" hidden>          
                            <input type="radio" id="tpValorBruto" name="tpValor" value="B">
                            <label for="age1">Valor é BRUTO</label><br>
                            <input type="radio" id="tpValorParcela" name="tpValor" value="P">
                            <label for="age2">Valor é da PARCELA</label><br>
                          </div>      
                        
                      </div>
                  
                      <input placeholder="Quantas parcelas?" class="w3-input w3-border form-control me-2" name="qtParcelas" step="0.01" type="number" id="qtParcelas" hidden>
                  
                      <div id="fimAnodiv">
                        <input type="checkbox" name="fimAno" id="fimAno" onclick="checkName('fimAno',['parceladodiv'])"> Gerar registro até fim do ano?
                      </div>    
                  
                      <div id="pagodiv">
                        <input type="checkbox" name="pago" id="pago"> Registrar essa como paga?
                      </div>
                  
                      <div id="faturadiv">
                        <input type="checkbox" name="fatura" id="fatura"> Incluir na fatura?
                      </div>
                      <br>
                      <button type="submit" class="btn w3-green">Confirmar</button>    
                    </form>          
                  </div>

                  <!-- LISTA -->
                  <div id="ListaGasto" class="container tab-pane fade"><br>

                  <input onchange="FiltroTabela('nmMotivoGasto','mesRegistroGasto','tblEditarGasto',1,2)" id="nmMotivoGasto" hidden>
                  <input onchange="FiltroTabela('nmMotivoGasto','mesRegistroGasto','tblEditarGasto',1,2)" id="mesRegistroGasto" hidden>

                        <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped" id="tblEditarGasto">
                          <thead>
                            <tr>  
                              <th></th> 
                              <th hidden></th>   
                              <th hidden></th>                      
                              <th>Valor</th> 
                              <th>Dt Venc.</th>
                              <th>Situação</th>  
                              <th></th> 
                            </tr>
                          </thead>
                          <tbody>          
                            <% ListaGastos.forEach(g => { %>
                              <% if(anoSelect == g.ano){ %>
                              <td><button onclick="setValorEdi(this,'idEditarGasto','valorEditarGasto')" data-bs-toggle="modal" data-bs-target="#modalEditarRegistroGasto" value="<%= g.id %>|<%= g.valor %>" class="w3-tiny w3-round btn-warning">E</button>
                                <button onclick="setIdDell(this,'IdDellGasto')"  data-bs-toggle="modal" data-bs-target="#modalExcluirRegistroGasto" value="<%= g.id %>" class="w3-tiny w3-round btn-danger">X</button></td>         
                              <td hidden><%= g.motivo %></td>
                              <td hidden><%= g.mes %></td>

                              <% if(g.tag){ %>
                                <td onclick="setIdRegistroTag('<%= g.id %>','idRegistroTagDel','GASTO')" class="pointer" data-bs-toggle="modal" data-bs-target="#modalExcluirTag"><%= g.valor %>
                                    <span class="w3-tag w3-tiny w3-black"><%= g.tag %></span>
                                </td> 
                                <% }else{ %>
                                  <td onclick="setIdRegistroTag('<%= g.id %>','idRegistroTagAdd','GASTO')" class="pointer" data-bs-toggle="modal" data-bs-target="#modalAdicionarTag"><%= g.valor %></td> 
                                <% } %>



                              <td><%= g.dt_vencimento %></td>
                    
                              <% if(g.situacao == 'PAGO') { %>
                                <td style="color:rgb(0, 255, 0);"><%= g.situacao %></td>
                              <% } else if(g.situacao == 'ATRASADO'){ %> 
                                <td style="color:rgb(249, 224, 0);"><%= g.situacao %></td>
                              <% } else if(g.situacao == 'ORCAMENTO'){ %> 
                                <td style="color:rgb(0, 45, 248);"><%= g.situacao %></td>
                              <% } else { %> 
                                <td style="color:rgb(250, 0, 0);"><%= g.situacao %></td>
                              <% } %> 
                  
                                <% if(g.inOrcamentario) { %>
                                  <td>
                                    <div class="btn-group">
                                      <button onclick="setValorConsumo(this,'idConsumoGasto','valorConsumoGasto','dataConsumoGasto')" data-bs-toggle="modal" data-bs-target="#modalConsumirOrcamentoGasto" value="<%= g.id %>|<%= g.valor %>" class="w3-tiny w3-round btn-info">Consumir</button>                                     
                                    </div>
                                  </td>
                                <% } else if(g.situacao != 'PAGO' && !g.inFatura) { %> 
                              <form action="/Carteira/PagarGasto" method="post">
                                  <td>
                                    <div class="btn-group">
                                      <button name="PAGAR" value="<%= g.id %>" class="w3-tiny w3-round btn-primary">Pagar</button>
                                      <button name="ADD_FATURA" value="<%= g.id %>" class="w3-tiny w3-round btn-info">Fatura</button>
                                    </div>
                                  </td>                  
                                <% } else if(g.inFatura) { %>
                                  <td>FATURA</td>                
                                <% }else { %>
                                  <td></td>                
                                <% } %>
                              </form>
                  
                            </tr>  
                            <% } %>
                            <% }); %>             
                          </tbody>
                        </table>

                  </div>
                </div>
              </div>

            </div>
          </div> 
          
          <div class="modal-footer">
            <div class="btn btn-danger" data-bs-dismiss="modal">Fechar</div>           
          </div>

      </div>
    </div>
  </div>

   <!-- JANELA CREDITOS -->
   <div class="modal" id="modalJanelaCredito">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
          <div class="modal-header">
            <h4 id="TituloJanelaCredi" class="modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
         
          <div class="modal-body">
            <div class="form-group">              
              
              <div class="container mt-3">
                <h4>Registro de Creditos</h4>
                <br>
               
                <ul class="nav nav-pills" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#Adicionar">Adicionar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#Lista">Lista</a>
                  </li>
                </ul>
                
                <div class="tab-content">

                    <!-- ADD  -->
                  <div id="Adicionar" class="container tab-pane active"><br>

                    <form class="w3-container was-validated" action="/Carteira/CofirmarRegistroCreditos" method="post">
                     
                      <input placeholder="Valor" class="form-control" type="number" step="0.01" name="valor" id="valor" style="width: auto;" required>
                      <br>
                  
                      <input id="campoOrigemCredito" class="form-control" type="text" name="origemCreditos" style="width: auto;" hidden readonly>                      

                      <input id="campoDataCredito" class="w3-input w3-border form-control me-2" type="date" name="dtPrevisao" required>
                      <br>
                  
                      <select class="form-control me-2" name="conta" style="width: auto;" required>      
                        <option value="" disabled selected>Contas</option>              
                        <% Contas.forEach(c => { %>
                          <option value="<%= c.id %>|<%= c.descricao %>"><%= c.descricao %></option>
                        <% }); %>
                      </select>
                      <br> 

                      <input placeholder="TAG(Opcional)" class="w3-input w3-border form-control me-2" type="text" onkeyup="this.value = this.value.toLowerCase();" name="tag" maxlength="10">
                      <br>

                      <div id="parceladodiv">
                        <input type="checkbox" name="parcelado" id="parcelado" onclick="checkName('parcelado',['fimAnodiv'])"> Esse valor é parcelado?
                        <br>
                          <div id="divTpValor" hidden>          
                            <input type="radio" id="tpValorBruto" name="tpValor" value="B">
                            <label for="age1">Valor é BRUTO</label><br>
                            <input type="radio" id="tpValorParcela" name="tpValor" value="P">
                            <label for="age2">Valor é da PARCELA</label><br>
                          </div> 
                      </div>
                  
                      <input placeholder="Quantas parcelas?" class="w3-input w3-border form-control me-2" name="qtParcelas" step="0.01" type="number" id="qtParcelas" hidden>
                  
                      <div id="fimAnodiv">
                        <input type="checkbox" name="fimAno" id="fimAno" onclick="checkName('fimAno',['parceladodiv'])"> Gerar registro até fim do ano?
                      </div> 
                  
                      <input type="checkbox" name="recebido" id="checkbox"> Registrar essa como recebida?
                      <hr>
                      <button type="submit" class="btn w3-green">Confirmar</button>    
                    </form>                    
                  </div>

                    <!-- LISTA -->
                  <div id="Lista" class="container tab-pane fade"><br>

                    <input onchange="FiltroTabela('nmMotivoCredito','mesRegistroCredito','tblEditarCredito',1,2)" id="nmMotivoCredito" hidden>
                    <input onchange="FiltroTabela('nmMotivoCredito','mesRegistroCredito','tblEditarCredito',1,2)" id="mesRegistroCredito" hidden>

                    <div class="">
                      <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped" id="tblEditarCredito">
                        <thead>
                          <tr>   
                            <th></th> 
                            <th hidden></th>
                            <th hidden></th>
                            <th>Valor</th>
                            <th>Dt Prevista</th>
                            <th>Situação</th>  
                            <th></th>         
                          </tr>
                        </thead>
                        <tbody>          
                          <% ListaCreditos.forEach(c => { %>
                           <tr> 
                            <% if(anoSelect == c.ano){ %>
                            <td><button onclick="setValorEdi(this,'idEditar','valorEditar')" data-bs-toggle="modal" data-bs-target="#modalEditarRegistroCredito" value="<%= c.id %>|<%= c.valor %>" class="w3-tiny w3-round btn-warning">E</button>
                                <button onclick="setIdDell(this,'IdDell')" data-bs-toggle="modal" data-bs-target="#modalExcluirRegistroCredito" value="<%= c.id %>" class="w3-tiny w3-round btn-danger">X</button></td>
                            <td hidden><%= c.descricao %></td>
                            <td hidden><%= c.mes %></td>

                            <% if(c.tag){ %>
                            <td onclick="setIdRegistroTag('<%= c.id %>','idRegistroTagDel','CREDITO')" class="pointer" data-bs-toggle="modal" data-bs-target="#modalExcluirTag"><%= c.valor %>
                                <span class="w3-tag w3-tiny w3-black"><%= c.tag %></span>
                            </td> 
                            <% }else{ %>
                              <td onclick="setIdRegistroTag('<%= c.id %>','idRegistroTagAdd','CREDITO')" class="pointer" data-bs-toggle="modal" data-bs-target="#modalAdicionarTag"><%= c.valor %></td> 
                            <% } %>

                            <td><%= c.dt_previsao %></td>
                            <% if(c.situacao == 'RECEBIDO') { %>
                              <td style="color:rgb(0, 255, 0);"><%= c.situacao %></td>           
                            <% } else { %> 
                              <td style="color:rgb(250, 0, 0);"><%= c.situacao %></td>
                            <% } %> 
                            <form action="/Carteira/ReceberCredito" method="post">
                              <% if(c.situacao != 'RECEBIDO') { %>
                                <td><button name="RECEBER" value="<%= c.id %>" class="w3-tiny w3-round btn-primary">Receber</button></td>
                              <% } else { %> 
                                <td></td>
                              <% } %>
                            </form>
                            <% } %>
                          </tr>  
                          <% }); %>             
                        </tbody>
                      </table>
                    </div> 

                  </div>
                  
                </div>
              </div>

            </div>
          </div> 
         
          <div class="modal-footer">
            <div class="btn btn-danger" data-bs-dismiss="modal">Fechar</div>           
          </div>

      </div>
    </div>
  </div>

  <div class="modal" id="modalExcluirRegistroGasto">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickGastos" method="post">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Excluir Registro</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body" hidden>
            <div class="form-group">              
              <input id="IdDellGasto" class="form-control" type="text" name="id" style="width: auto;">                                    
            </div>
          </div>    
        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="DEL" value="true">Confirmar</button> 
          </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

  <div class="modal" id="modalConsumirOrcamentoGasto">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/PagarGasto" method="post">

          <div class="modal-header">
            <h4 class="modal-title">Consumir Orcamento</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
         
          <div class="modal-body">
            <div class="form-group"> 

              <label class="w3-text-black"><h4>Saldo</h4></label>
              <input id="valorConsumoGasto" class="form-control" type="number" step="0.01" style="width: auto;" readonly>
              <br>
              
              <input placeholder="Valor Usado" class="form-control" type="number" step="0.01" name="valor" id="valor" style="width: auto;" required>
              <br>

              <input id="idConsumoGasto" class="form-control" type="text" name="idRegistroOrcGasto" style="width: auto;" hidden> 
              <input id="dataConsumoGasto" class="w3-input w3-border form-control me-2" type="date"  name="dataConsumo">
              <br>
             
              <button name="CONSUMIR" value="true" class="btn w3-green">Confirmar Consumo</button>
            </div>
          </div>    
        
         
          <div class="modal-footer">
           
          </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

  <div class="modal" id="modalEditarRegistroGasto">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickGastos" method="post">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Editar Registro</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group"> 
              <input id="idEditarGasto" class="form-control" type="text" name="id" style="width: auto;" hidden>             
              <input id="valorEditarGasto" class="form-control" type="text" name="valor" style="width: auto;" required> 
              <div class="invalid-feedback">insira um valor</div>                                   
            </div>
          </div>    
        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="EDI" value="true">Confirmar</button> 
          </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

   <div class="modal" id="modalExcluirCredito">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/OrigemCredito/Click" method="post">  

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Excluir Credito</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">              
              <input id="DescCreditoDell" class="form-control" type="text" name="CREDITO" style="width: auto;" required readonly>                                    
            </div>
          </div>    
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="CONF_DEL" value="true">Confirmar</button> 
          </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

   <div class="modal" id="modalAdicionarCredito">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated"action="/OrigemCredito/Click" method="post">  

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Adicionar Credito</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">              
              <input class="form-control" type="text" name="nome" id="nome" style="width: auto;" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">escreva a descrição do credito.</div>
            </div>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="CONFIRMAR_ADD" value="true">Confirmar</button> 
          </form>          
            <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>           
          </div>

      </div>
    </div>
  </div>

   <div class="modal" id="modalExcluirGasto">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/MotivoGastos/Click" method="post">  

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Excluir Gasto</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">              
              <input id="DescGastoDell" class="form-control" type="text" name="GASTO" style="width: auto;" required readonly>                          
            </div>
          </div>    
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="CONF_DEL" value="true">Confirmar</button> 
          </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

   <div class="modal" id="modalAdicionarGastos">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/MotivoGastos/Click" method="post">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Adicionar Gasto</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">              
              <input class="form-control" type="text" name="nome" id="nome" style="width: auto;" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">escreva a descrição do gasto.</div>
            </div>

          </div>
    
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="CONFIRMAR_ADD" value="true">Confirmar</button> 
          </form>          
            <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>           
          </div>

      </div>
    </div>
  </div>

  <div class="modal" id="modalSaldo">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/AlterarSaldo" method="post">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Definir saldo na conta</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">              
              <input class="form-control" type="number" step="0.01" name="saldo" id="saldo" style="width: auto;" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">insira um valor numerico</div>
            </div>

          </div>
    
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="CONFIRMAR_ADD" value="true">Confirmar</button> 
          </form>          
            <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>           
          </div>

      </div>
    </div>
  </div>

  <div class="modal" id="modalExcluirRegistroCredito">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickCreditos" method="post">  

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Excluir Registro</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body" hidden>
            <div class="form-group">              
              <input id="IdDell" class="form-control" type="text" name="id" style="width: auto;">                                    
            </div>
          </div>    
        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="DEL" value="true">Confirmar</button> 
          </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

  <div class="modal" id="modalEditarRegistroCredito">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickCreditos" method="post">  

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Editar Registro</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group"> 
              <input id="idEditar" class="form-control" type="text" name="id" style="width: auto;" hidden>             
              <input id="valorEditar" class="form-control" type="text" name="valor" style="width: auto;" required> 
              <div class="invalid-feedback">insira um valor</div>                                   
            </div>
          </div>    
        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="EDI" value="true">Confirmar</button> 
        </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

  <div class="modal" id="modalExcluirTag">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickTag" method="post">          
          <input id="idRegistroTagDel" class="form-control" type="text" name="id" style="width: auto;" hidden> 
          <input id="tpRegistroDel" class="form-control" type="text" name="tp" style="width: auto;" hidden> 
         
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" name="DEL" value="true">Excluir Tag</button>
          </div>

        </form>   
      </div>
    </div>
  </div>

  <div class="modal" id="modalAdicionarTag">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickTag" method="post"> 
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input id="idRegistroTagAdd" class="form-control" type="text" name="id" style="width: auto;" hidden> 
              <input id="tpRegistroAdd" class="form-control" type="text" name="tp" style="width: auto;" hidden> 

              <input class="form-control" type="text" name="descricao" style="width: auto;" maxlength="10" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">caracteres permitidos Max :10</div>                          
            </div>
          </div>  
         
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="ADD" value="true">Adicionar Tag</button>
          </div>

        </form>   
      </div>
    </div>
  </div>

 <!-- ==================================================================================================================== -->

  <div class="w3-container">

    <h1 class="w3-left">          
        <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(255, 255, 255);width: 250px;" class="w3-input"
        type="text" value="Usuario:<%= global.user.nome %>" readonly>     
    </h1>

    <h1 class="w3-left">       
      <input data-bs-toggle="modal" data-bs-target="#" id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(96, 252, 0);width: 260px;" class="w3-input"
      type="text" value="Saldo: $ <%= global.user.saldo %>" readonly>
    </h1>
    <br>
  </div>

    <div style="background-color: rgb(72, 70, 70);" class="w3-bar w3-padding">
      <form  action="/Carteira/ConsultandoGastosResumoAnual" method="POST">
        <input style="margin-left: 10px ;" id="data" name="ano" class="w3-bar-item w3-tiny form-control me-2" type="number" placeholder="YYYY" min="2022" max="2100" value="<%= anoSelect %>">
        <button class="w3-bar-item w3-tiny w3-round btn btn-warning me-2" type="submit" value="true">Atualizar</button>
        <a href="/ContaBancaria" class="w3-bar-item w3-tiny w3-round btn btn-primary me-2">Cadastrar Contas Bancarias</a>
        <a href="/Fatura" class="w3-bar-item w3-tiny w3-round btn btn-primary me-2">Consultar Faturas</a>
        <a href="/" class="w3-bar-item w3-tiny w3-round btn btn-danger me-2">Sair</a>
    </form>
    </div>



  <div class="w3-container w3-left">
 
     <!--LIQUIDO MES  -->
      <div id="demo" class="collapse">

        <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped">
          <thead>
            <tr>            
              <th></th>      
              <th>Janeiro</th>  
              <th>Fevereiro</th> 
              <th>Março</th> 
              <th>Abril</th> 
              <th>Maio</th> 
              <th>Junho</th> 
              <th>Julho</th>
              <th>Agosto</th>  
              <th>Setembro</th> 
              <th>Outubro</th>
              <th>Novembro</th>
              <th>Dezembro</th>
            </tr>
          </thead>
          <tbody> 
            
            <!--TABELA -->
              <tr>
                <th><b>SALDO INICIAL</b></th>
                <% for(let i = 1; i <= 12;i++){ %>
                  <td><%= liquidez.inicial[i].toFixed(2) %></td> 
                <% } %>             
              </tr>
              <tr>
                <th><b>SALDO LIQUIDO</b></th>
                <% for(let i = 1; i <= 12;i++){ %>
                  <td><%= liquidez.liquido[i].toFixed(2) %></td> 
                <% } %>             
              </tr>
              <tr>
                <th><b>SALDO FINAL</b></th>
                <% for(let i = 1; i <= 12;i++){ %>
                  <% if(liquidez.final[i].toFixed(2) >= 0){ %>
                    <td style="background-color: rgb(0, 253, 0) ;"><b><%= liquidez.final[i].toFixed(2) %></b></td> 
                  <% }else{ %>
                    <td style="background-color: rgb(255, 0, 0) ;"><b><%= liquidez.final[i].toFixed(2) %></b></td> 
                  <% } %>
                <% } %>             
              </tr>
          </tbody>
        </table>   
      </div> 

      <!--CREDITOS -->
    <div class="container mt-3">  
      <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped" id="tblCreditos">
        <thead>
          <tr>            
            <td onclick="w3.sortHTML('#tblCreditos', '.item', 'td:nth-child(1)')"><button data-bs-toggle="modal" data-bs-target="#modalAdicionarCredito" class="w3-tiny w3-round btn-primary">+</button> GANHOS</td>      
            <th>Janeiro</th>  
            <th>Fevereiro</th> 
            <th>Março</th> 
            <th>Abril</th> 
            <th>Maio</th> 
            <th>Junho</th> 
            <th>Julho</th>
            <th>Agosto</th>  
            <th>Setembro</th> 
            <th>Outubro</th>
            <th>Novembro</th>
            <th>Dezembro</th>
            <th><a data-bs-toggle="collapse" href="#demo" class="SemBorda"><button class="w3-tiny w3-round btn-warning">>></button></a></th>
          </tr>
        </thead>
        <tbody> 
          
          <!--TABELA -->
          <% resumoCredi.forEach(dado => { %>
            <%  if(dado.ano == anoSelect) { %>           
            <tr class="item">
              <td><button data-bs-toggle="modal" data-bs-target="#modalExcluirCredito" onclick="setDescCreditoDell(this)"
                value="<%= dado.motivo %>" class="w3-tiny w3-round  btn-danger">-</button> <b><%= dado.motivo %></b></td>
             
              <% for(let i = 1; i <= 12;i++){ %>   
                <% if(i >= 10){ %> 
                  <td><button onclick="setDadosJanelaCredito(this)" value="<%= dado.id %>|<%= dado.motivo %>|<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaCredito" class="btn SemBorda cell"> <%= dado.mes[i] %></button></td>
                  <% }else{ %> 
                    <td><button onclick="setDadosJanelaCredito(this)" value="<%= dado.id %>|<%= dado.motivo %>|0<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaCredito" class="btn SemBorda cell"> <%= dado.mes[i] %></button></td>
                  <% } %> 
              <% } %>
              <td><a href="/Carteira/ClickCreditos<%= dado.motivo %>" class="SemBorda"><button class="w3-tiny w3-round btn-primary">>></button></a></td>
            </tr> 
            <% } %>  
          <% }); %>     
          
          <!--TOTAIS -->
          <tr>
            <th style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><b>A RECEBER</b></th>
            <% for(let i = 1; i <= 12;i++){ %> 
              <th style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><b><%= totaisCredi.mes[i].toFixed(2) %></b></th>
            <% } %>             
            <th></th>           
          </tr> 
        </tbody>
      </table>
    </div>

     <!--GASTOS -->
    <div class="container mt-3">  
      <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped" id="tblGastos">
        <thead>
           
          <tr>
            <th style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><b>DEVENDO</b></th>
            <% for(let i = 1; i <= 12;i++){ %> 
              <th style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><b><%= totais.mes[i].toFixed(2) %></b></th>
            <% } %>             
            <th></th>           
          </tr> 
          <tr> 
            <td onclick="w3.sortHTML('#tblGastos', '.item', 'td:nth-child(1)')"><button data-bs-toggle="modal" data-bs-target="#modalAdicionarGastos" class="w3-tiny w3-round btn-primary">+</button> GASTOS</td>     
            <th>Janeiro</th>  
            <th>Fevereiro</th> 
            <th>Março</th> 
            <th>Abril</th> 
            <th>Maio</th> 
            <th>Junho</th> 
            <th>Julho</th>
            <th>Agosto</th>  
            <th>Setembro</th> 
            <th>Outubro</th>
            <th>Novembro</th>
            <th>Dezembro</th>
            <th></th>
          </tr>
        </thead>
        <tbody>          
          <% resumo.forEach(dado => { %>
            <%  if(dado.ano == anoSelect) { %>           
            <tr class="item">
              <td><button data-bs-toggle="modal" data-bs-target="#modalExcluirGasto" onclick="setDescGastoDell(this)"
              value="<%= dado.motivo %>" class="w3-tiny w3-round  btn-danger">-</button> <b><%= dado.motivo %></b></td> 

              <% for(let i = 1; i <= 12;i++){ %>   
                <% if(i >= 10){ %>                     
                    <td><button onclick="setDadosJanelaGasto(this)" value="<%= dado.id %>|<%= dado.motivo %>|<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaGasto" class="btn SemBorda cell"> <%= dado.mes[i] %></button></td>
                  <% }else{ %> 
                    <td><button onclick="setDadosJanelaGasto(this)" value="<%= dado.id %>|<%= dado.motivo %>|0<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaGasto" class="btn SemBorda cell"> <%= dado.mes[i] %></button></td>
                  <% } %> 
              <% } %>              
                <td><a href="/Carteira/ClickGastos<%= dado.motivo %>" class="SemBorda"><button class="w3-tiny w3-round btn-primary">>></button></a></td>    
            </tr> 
            <% } %>  
          <% }); %>
        </tbody>
      </table>
    </div>

  </div>

 

</body>
</html>




