<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <title>Consulta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> 
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <link rel="stylesheet" href="/styles.css">
  <script src="/DLL.js"></script>
</head>
<body>
  
   <!-- ================================================== MODAL ============================================= -->
    <%- include('../Modal/modalGastos') %>
    <%- include('../Modal/modalCreditos') %>

  <div class="modal" id="modalExcluirTag">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickTag" method="post">          
          <input id="idRegistroTagDel" class="form-control" type="text" name="id" style="width: auto;" hidden> 
          <input id="tpRegistroDel" class="form-control" type="text" name="tp" style="width: auto;" hidden> 
         
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger" name="DEL" value="true">Excluir Tag</button>
          </div>

        </form>   
      </div>
    </div>
  </div>

  <div class="modal" id="modalAdicionarTag">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickTag" method="post"> 
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input id="idRegistroTagAdd" class="form-control" type="text" name="id" style="width: auto;" hidden> 
              <input id="tpRegistroAdd" class="form-control" type="text" name="tp" style="width: auto;" hidden> 

              <input class="form-control" type="text" name="descricao" style="width: auto;" maxlength="10" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">caracteres permitidos Max :10</div>                          
            </div>
          </div>  
         
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="ADD" value="true">Adicionar Tag</button>
          </div>

        </form>   
      </div>
    </div>
  </div>

  <div onfocus="" class="modal" id="modalUsuarioPagar">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Escolha seu Pacote</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
         
          <div class="modal-body">
            <div class="form-group"> 
              
              <p>Apos efetuar o pagamento sera realizado uma analise e disponivel seu tempo de uso dentro de ate 1 dia. </p>
              <p style="color:red ;" >O pagamento sera creditado para o email de pagamento</p>

              <div class="row">
                  <div class="col">
                    <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped">
                      <thead>
                        <tr> 
                          <th style="text-align:center;">Ganhe +1 MES (R$ 32,00)</th> 
                          <th>
                            <form action="/Carteira/Evento_1" method="post">
                              <button class="SemBorda" type="submit">  
                              <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js" data-preference-id="72273544-ef269c33-ac91-4517-b03a-aba2e4c29f6c" data-source="button" ></script>
                            </button> 
                          </form>  
                          </th> 
                        </tr>

                        <tr> 
                          <th style="text-align:center;">Ganhe +3 MESES (R$ 90,00)</th> 
                          <th>
                            <form action="/Carteira/Evento_2" method="post">
                            <button class="SemBorda" type="submit">                           
                              <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js" data-preference-id="72273544-fe2c660e-42ba-4157-8f3c-bad362d1b7f6" data-source="button"></script>
                            </button> 
                          </form>          
                          </th> 
                        </tr>

                        <tr> 
                          <th style="text-align:center;">Ganhe +1 ANO (R$ 320,00)</th> 
                          <th>
                            <form action="/Carteira/Evento_3" method="post">
                              <button class="SemBorda" type="submit">            
                              <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js" data-preference-id="72273544-57a91a01-48bf-4f59-972b-b422afc6b8df" data-source="button"></script>
                            </button> 
                          </form> 
                          </th> 
                        </tr>

                      </thead>
                    </table>
                  </div>
              </div>
              
            </div>
          </div> 
         
          <div class="modal-footer">
           
          </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

 <!-- ==================================================================================================================== -->

  <div class="w3-container">

    <h1 class="w3-left">          
        <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(255, 255, 255);width: 250px;" class="w3-input"
        type="text" value="Usuario:<%= global.user.login %>" readonly>     
    </h1>

    <h1 class="w3-left">       
      <input data-bs-toggle="modal" data-bs-target="#" id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(96, 252, 0);width: 800px;" class="w3-input"
      type="text" value="Saldo: $ <%= global.user.saldo %>" readonly>
    </h1>
    <br>
  </div>
    
  <form  action="/Carteira/ConsultandoGastosResumoAnual" method="POST">

    <div style="background-color: black;width: 100%;" class="w3-padding-16 btn-group">

        <input style="margin-left: 10px ;" id="data" name="ano" class="me-2 w3-tiny form-control" type="number" placeholder="YYYY" min="2022" max="2100" value="<%= anoSelect %>">

        <div><button onclick="ativaCarregamento(this,'btCarregando_updateAno')" class="w3-tiny w3-round btn btn-warning me-2" type="submit" value="true"><b>Atualizar</b></button></div>
        <div><button id="btCarregando_updateAno" class="w3-tiny w3-round btn btn-warning me-2" disabled hidden><span class="spinner-border spinner-border-sm"></span>Aguarde..</button></div>
           
        <div><a href="/ContaBancaria" class="w3-tiny w3-round btn btn-primary me-2"><b>Contas Bancarias</b></a></div>
        
        <div><a href="/Fatura" class="w3-tiny w3-round btn btn-primary me-2"><b>Faturas</b></a></div>
        
        <div><a class="w3-tiny w3-round btn btn-info me-2 btn" data-bs-toggle="modal" data-bs-target="#modalUsuarioPagar"><b>+ prazo de validade</b></a></div>
        <div><a href="/" class="w3-tiny w3-round btn btn-danger me-2"><b>Sair</b></a></div>
        <label style="color: white ;"><b>Validade: <%= global.user.validade %></b></label>
        
    </div>
  </form>
  

  <% if(!global.user.inVencido){ %>
  <div class="w3-container w3-left">
 
     <!--LIQUIDO MES  -->
      <div id="demo" class="collapse">

        <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped">
          <thead>
            <tr>            
              <th></th>      
              <th>Janeiro</th>  
              <th>Fevereiro</th> 
              <th>Março</th> 
              <th>Abril</th> 
              <th>Maio</th> 
              <th>Junho</th> 
              <th>Julho</th>
              <th>Agosto</th>  
              <th>Setembro</th> 
              <th>Outubro</th>
              <th>Novembro</th>
              <th>Dezembro</th>
            </tr>
          </thead>
          <tbody> 
            
            <!--TABELA -->
              <tr>
                <th><b>INICIAL</b></th>
                <% for(let i = 1; i <= 12;i++){ %>
                  <td><%= liquidez.inicial[i].toFixed(2) %></td> 
                <% } %>             
              </tr>
              <tr>
                <th><b>LIQUIDO GERAL</b></th>
                <% for(let i = 1; i <= 12;i++){ %>
                  <td><%= liquidez.liquido[i].toFixed(2) %></td> 
                <% } %>             
              </tr>
              <tr>
                <th><b>FINAL GERAL</b></th>
                <% for(let i = 1; i <= 12;i++){ %>
                  <% if(liquidez.final[i].toFixed(2) >= 0){ %>
                    <td style="background-color: rgb(0, 253, 0) ;"><b><%= liquidez.final[i].toFixed(2) %></b></td> 
                  <% }else{ %>
                    <td style="background-color: rgb(255, 0, 0) ;"><b><%= liquidez.final[i].toFixed(2) %></b></td> 
                  <% } %>
                <% } %>             
              </tr>
              <tr>
                <th><br></th>
              </tr>
              <tr>
                <th><b>INICIAL REAL</b></th>
                <% for(let i = 1; i <= 12;i++){ %>
                  <td><%= liquidez.inicialReal[i].toFixed(2) %></td> 
                <% } %>             
              </tr>
              <tr>
                <th><b>LIQUIDO REAL</b></th>
                <% for(let i = 1; i <= 12;i++){ %>
                  <td><%= liquidez.liqReal[i].toFixed(2) %></td> 
                <% } %>             
              </tr>
              <tr>
                <th><b>FINAL REAL</b></th>
                <% for(let i = 1; i <= 12;i++){ %>
                  <% if(liquidez.finalReal[i].toFixed(2) >= 0){ %>
                    <td style="background-color: rgb(0, 253, 0) ;"><b><%= liquidez.finalReal[i].toFixed(2) %></b></td> 
                  <% }else{ %>
                    <td style="background-color: rgb(255, 0, 0) ;"><b><%= liquidez.finalReal[i].toFixed(2) %></b></td> 
                  <% } %>
                <% } %>             
              </tr>
              <tr>
          </tbody>
        </table>   
      </div> 

      <!--CREDITOS -->
    <div class="container mt-3">  
      <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped" id="tblCreditos">
        <thead>
          <tr>
            <th onclick="w3.sortHTML('#tblCreditos', '.item', 'td:nth-child(1)')"><button data-bs-toggle="modal" data-bs-target="#modalAdicionarCredito" class="w3-tiny w3-round btn-primary">+</button> GANHOS</th>      
          </tr>
          <tr>           
            <th><input class="me-2 w3-tiny form-control" type="text" id="InputBuscaCredito" onkeyup="FiltroTabelaMotivos('InputBuscaCredito','tblCreditos',0)"></th> 
            <th>Janeiro</th>  
            <th>Fevereiro</th> 
            <th>Março</th> 
            <th>Abril</th> 
            <th>Maio</th> 
            <th>Junho</th> 
            <th>Julho</th>
            <th>Agosto</th>  
            <th>Setembro</th> 
            <th>Outubro</th>
            <th>Novembro</th>
            <th>Dezembro</th>
            <th><a data-bs-toggle="collapse" href="#demo" class="SemBorda"><button class="w3-tiny w3-round btn-warning">>></button></a></th>
          </tr>
        </thead>
        <tbody>          
          <!--TABELA -->
          <% resumoCredi.forEach(dado => { %>
            <%  if(dado.ano == anoSelect) { %>           
            <tr class="item">
              <td><button data-bs-toggle="modal" data-bs-target="#modalExcluirCredito" onclick="setDescCreditoDell(this)"
                value="<%= dado.motivo %>" class="w3-tiny w3-round  btn-danger">-</button> <b><%= dado.motivo %></b></td>
             
              <% for(let i = 1; i <= 12;i++){ %>   
                <% if(i >= 10){ %> 
                  <% if(dado.mes[i] == '0'){ %> 
                    <td><button onclick="setDadosJanelaCredito(this)" value="<%= dado.id %>|<%= dado.motivo %>|<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaCredito" class="btn SemBorda cell"><%= dado.mes[i] %></button></td>
                  <% } else if(dado.pago[i]){ %> 
                    <td><button onclick="setDadosJanelaCredito(this)" value="<%= dado.id %>|<%= dado.motivo %>|<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaCredito" class="btn SemBorda cell"> <span class="tagPequena w3-round w3-tag w3-tiny w3-green"></span><%= dado.mes[i] %></button></td>
                    <% }else{ %>
                      <td><button onclick="setDadosJanelaCredito(this)" value="<%= dado.id %>|<%= dado.motivo %>|<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaCredito" class="btn SemBorda cell"> <span class="tagPequena w3-round w3-tag w3-tiny w3-red"></span><%= dado.mes[i] %></button></td>
                    <% } %>  
                  
                  <% }else{ %> 
                    <% if(dado.mes[i] == '0'){ %> 
                      <td><button onclick="setDadosJanelaCredito(this)" value="<%= dado.id %>|<%= dado.motivo %>|0<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaCredito" class="btn SemBorda cell"><%= dado.mes[i] %></button></td>
                    <% } else if(dado.pago[i]){ %>
                      <td><button onclick="setDadosJanelaCredito(this)" value="<%= dado.id %>|<%= dado.motivo %>|0<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaCredito" class="btn SemBorda cell"> <span class="tagPequena w3-round w3-tag w3-tiny w3-green"></span><%= dado.mes[i] %></button></td>
                      <% }else{ %> 
                        <td><button onclick="setDadosJanelaCredito(this)" value="<%= dado.id %>|<%= dado.motivo %>|0<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaCredito" class="btn SemBorda cell"> <span class="tagPequena w3-round w3-tag w3-tiny w3-red"></span><%= dado.mes[i] %></button></td>
                      <% } %>
                  <% } %> 
              <% } %>
              <td><a href="/Carteira/ClickCreditos<%= dado.motivo %>" class="SemBorda"><button class="w3-tiny w3-round btn-primary">>></button></a></td>
            </tr> 
            <% } %>  
          <% }); %>     
          
          <!--TOTAIS -->
          <tr>
            <th style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><b>A RECEBER</b></th>
            <% for(let i = 1; i <= 12;i++){ %> 
              <th style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(145, 255, 0);"><b><%= totaisCredi.mes[i].toFixed(2) %></b></th>
            <% } %>             
            <th></th>           
          </tr> 
        </tbody>
      </table>
    </div>
    
     <!--GASTOS -->
    <div class="container mt-3">  
      <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped" id="tblGastos" >
        <thead>
           
          <tr>
            <th style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><b>DEVENDO</b></th>
            <% for(let i = 1; i <= 12;i++){ %> 
              <th style="color:rgb(0, 0, 0) ; text-shadow:1px 1px 2px rgb(255, 0, 0);"><b><%= totais.mes[i].toFixed(2) %></b></th>
            <% } %>             
            <th></th>           
          </tr> 
          <tr>
            <th onclick="w3.sortHTML('#tblGastos', '.item', 'td:nth-child(1)')"><button data-bs-toggle="modal" data-bs-target="#modalAdicionarGastos" class="w3-tiny w3-round btn-primary">+</button> GASTOS</th>     
          </tr>
          <tr> 
            <th><input class="me-2 w3-tiny form-control" type="text" id="InputBuscaGasto" onkeyup="FiltroTabelaMotivos('InputBuscaGasto','tblGastos',0)"></th>  
            <th>Janeiro</th>  
            <th>Fevereiro</th> 
            <th>Março</th> 
            <th>Abril</th> 
            <th>Maio</th> 
            <th>Junho</th> 
            <th>Julho</th>
            <th>Agosto</th>  
            <th>Setembro</th> 
            <th>Outubro</th>
            <th>Novembro</th>
            <th>Dezembro</th>
            <th></th>
          </tr>
        </thead>
        <tbody>          
          <% resumo.forEach(dado => { %>
            <%  if(dado.ano == anoSelect) { %>           
            <tr class="item">
              <td><button data-bs-toggle="modal" data-bs-target="#modalExcluirGasto" onclick="setDescGastoDell(this)"
              value="<%= dado.motivo %>" class="w3-tiny w3-round  btn-danger">-</button> <b><%= dado.motivo %></b></td> 

              <% for(let i = 1; i <= 12;i++){ %>   
                <% if(i >= 10){ %>  
                    <% if(dado.mes[i] == '0'){ %> 
                    <td><button onclick="setDadosJanelaGasto(this)" value="<%= dado.id %>|<%= dado.motivo %>|<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaGasto" class="btn SemBorda cell"><%= dado.mes[i] %></button></td>
                    <% } else if(dado.pago[i]){ %> 
                    <td><button onclick="setDadosJanelaGasto(this)" value="<%= dado.id %>|<%= dado.motivo %>|<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaGasto" class="btn SemBorda cell"> <span class="tagPequena w3-round w3-tag w3-tiny w3-green"></span><%= dado.mes[i] %></button></td>
                    <% }else{ %>
                      <td><button onclick="setDadosJanelaGasto(this)" value="<%= dado.id %>|<%= dado.motivo %>|<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaGasto" class="btn SemBorda cell"> <span class="tagPequena w3-round w3-tag w3-tiny w3-red"></span><%= dado.mes[i] %></button></td>
                    <% } %>  
                  
                <% }else{ %> 
                  <% if(dado.mes[i] == '0'){ %> 
                    <td><button onclick="setDadosJanelaGasto(this)" value="<%= dado.id %>|<%= dado.motivo %>|0<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaGasto" class="btn SemBorda cell"><%= dado.mes[i] %></button></td>
                    <% } else if(dado.pago[i]){ %> 
                      <td><button onclick="setDadosJanelaGasto(this)" value="<%= dado.id %>|<%= dado.motivo %>|0<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaGasto" class="btn SemBorda cell"> <span class="tagPequena w3-round w3-tag w3-tiny w3-green"></span><%= dado.mes[i] %></button></td>
                      <% }else{ %> 
                        <td><button onclick="setDadosJanelaGasto(this)" value="<%= dado.id %>|<%= dado.motivo %>|0<%= i %>|<%= anoSelect %>" data-bs-toggle="modal" data-bs-target="#modalJanelaGasto" class="btn SemBorda cell"> <span class="tagPequena w3-round w3-tag w3-tiny w3-red"></span><%= dado.mes[i] %></button></td>
                      <% } %>                   
                <% } %>   
              <% } %>              
                <td><a href="/Carteira/ClickGastos<%= dado.motivo %>" class="SemBorda"><button class="w3-tiny w3-round btn-primary">>></button></a></td>    
            </tr> 
            <% } %>  
          <% }); %>
        </tbody>
      </table>
    </div>

  </div>
  <% }else{ %>
    <h1>Sistema atingiu a data de validade</h1>
  <% } %>
 

</body>
</html>
<script>
  function myFunction() {
    var x = document.getElementById("Demo");
    if (x.className.indexOf("w3-show") == -1) { 
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>




