<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <title>Consulta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/styles.css"> 
  <script src="/DLL.js"></script> 
</head>
<body>


   <!-- ========= MODAL ============ -->
   <div class="modal" id="modalExcluir">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickCreditos" method="post">  

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Excluir Registro</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body" hidden>
            <div class="form-group">              
              <input id="IdDell" class="form-control" type="text" name="id" style="width: auto;">                                    
            </div>
          </div>    
        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="DEL" value="true">Confirmar</button> 
          </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

  <div class="modal" id="modalEditar">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickCreditos" method="post">  

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Editar Registro</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group"> 
              <input id="idEditar" class="form-control" type="text" name="id" style="width: auto;" hidden>             
              <input id="valorEditar" class="form-control" type="text" name="valor" style="width: auto;" required> 
              <div class="invalid-feedback">insira um valor</div>                                   
            </div>
          </div>    
        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" name="EDI" value="true">Confirmar</button> 
        </form>          
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
  </div>

  <div class="w3-container">
    <h1 class="w3-left">
      <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(135, 128, 128);width: 260px;" class="w3-input"
        type="text" value="Resultado: $ <%= valorTotal.toFixed(2) %>" readonly>
    </h1>

    <h1 class="w3-left">
      <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(96, 252, 0);width: 260px;" class="w3-input"
        type="text" value="Saldo: $ <%= global.user.saldo %>" readonly>
    </h1>
    
  </div>

  <form action="/Carteira/ClickCreditos" method="post">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
    

    <select class="form-control me-2" name="origemCredito" style="width: auto;">
      <% if(filtros.origemCredito.id) { %>
        <option value="<%= filtros.origemCredito.id %>|<%= filtros.origemCredito.descricao %>" selected><%= filtros.origemCredito.descricao %></option>
      <% }else { %>
        <option value="" disabled selected>Origem Credito</option>
      <% } %>   
      <% Origens.forEach(o => { %>
        <option value="<%= o.id %>|<%= o.descricao %>"><%= o.descricao %></option>
      <% }); %>
    </select>

    <select class="form-control me-2" name="conta" style="width: auto;">
      <% if(filtros.conta.id) { %>
        <option value="<%= filtros.conta.id %>|<%= filtros.conta.descricao %>" selected><%= filtros.conta.descricao %></option>
      <% }else { %>
        <option value="" disabled selected>Contas</option>
      <% } %>          
      <% Contas.forEach(c => { %>
        <option value="<%= c.id %>|<%= c.descricao %>">
          <%= c.descricao %>
        </option>
        <% }); %>
    </select>

    <select class="form-control me-2" name="Situacao" style="width: auto;">
      <% if(filtros.Situacao.id) { %>
        <option value="<%= filtros.Situacao.id %>|<%= filtros.Situacao.descricao %>" selected><%= filtros.Situacao.descricao %></option>
      <% }else { %>
        <option value="" disabled selected>Situação</option>
      <% } %>  
      <option value="1|PENDENTE">A RECEBER</option>
      <option value="2|RECEBIDO">RECEBIDO</option> 
    </select>

    <% if(filtros.dataIni) { %>
      <input class="w3-input w3-border form-control me-2" type="date" name="dataIni" value="<%= filtros.dataIni %>">
    <% }else { %>
      <input class="w3-input w3-border form-control me-2" type="date" name="dataIni">
    <% } %>   

    <% if(filtros.dataFim) { %>
      <input class="w3-input w3-border form-control me-2" type="date" name="dataFim" value="<%= filtros.dataFim %>">
    <% }else { %>
      <input class="w3-input w3-border form-control me-2" type="date" name="dataFim">
    <% } %> 
    <button class="btn btn-primary me-2" name="PESQUISAR" value="true">Pesquisar</button>
    
    <a href="/Carteira/ConsultaGastosResumoAnual" class="btn btn-success me-2">Voltar</a> 
    </nav>
  </form>
  <div class="container w3-left">
    
    
 
    <div class="container mt-3">
      <table class="table table-dark table-striped table-sm">
        <thead>
          <tr>   
            <th></th> 
            <th>Origem</th>  
            <th>Valor</th>            
            <th>Conta Bancaria</th> 
            <th>Dt Recebimento</th> 
            <th>Dt Prevista</th>
            <th>Situação</th>  
            <th></th>         
          </tr>
        </thead>
        <tbody>          
          <% Creditos.forEach(c => { %>
           <tr>
            <td><button onclick="setValorEdi(this,'idEditar','valorEditar')" data-bs-toggle="modal" data-bs-target="#modalEditar" value="<%= c.id %>|<%= c.valor %>" class="w3-tiny w3-round btn-warning">E</button>
                <button onclick="setIdDell(this,'IdDell')"   data-bs-toggle="modal" data-bs-target="#modalExcluir" value="<%= c.id %>" class="w3-tiny w3-round btn-danger">X</button></td>
            <td><%= c.descricao %></td> 
            <td>$ <%= c.valor %></td>             
            <td><%= c.conta %></td> 
            <td><%= c.dt_recebimento %></td>  
            <td><%= c.dt_previsao %></td>
  
            <% if(c.situacao == 'RECEBIDO') { %>
              <td style="color:rgb(0, 255, 0);"><%= c.situacao %></td>           
            <% } else { %> 
              <td style="color:rgb(250, 0, 0);"><%= c.situacao %></td>
            <% } %> 
            <form action="/Carteira/ReceberCredito" method="post">
              <% if(c.situacao != 'RECEBIDO') { %>
                <td><button name="RECEBER" value="<%= c.id %>" class="btn-sm form-control btn-primary">Receber</button></td>
              <% } else { %> 
                <td></td>
              <% } %>
            </form>
          </tr>  
          <% }); %>             
        </tbody>
      </table>
    </div>
  </div>


</body>
</html>
