<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <title>Fatura</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/styles.css"> 
  <script src="/DLL.js"></script> 
</head>
<style>
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>

<body onload="NumFormat()">

<form action="/Fatura/Atualizar" method="post">

  <div class="w3-container">

    <h1 class="w3-left">          
        <input id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(255, 255, 255);width: 250px;" class="w3-input"
        type="text" value="Usuario:<%= global.user.login %>" readonly>     
    </h1>

    <h1 class="w3-left">       
      <input data-bs-toggle="modal" data-bs-target="#modalSaldo" id="ValorTotal"  style="text-shadow:1px 1px 2px rgb(96, 252, 0);width: 260px;" class="NrFormat w3-input"
      type="text" value="<%= global.user.saldo %>" readonly>
    </h1>

    <br>
  </div>

  <div style="background-color: rgb(72, 70, 70);" class="w3-bar w3-padding">

    <a href="/Carteira/ConsultaGastosResumoAnual"  class="w3-bar-item w3-tiny w3-round btn btn-info">Inicio</a>
    <input style="margin-left: 10px ;" class="w3-bar-item w3-tiny form-control me-2" type="month" id="bdaymonth" name="mes" value="<%= dataSelect %>">

    <select class="w3-bar-item w3-tiny form-control me-2" name="conta" style="width: auto;">
      <% if(filtros.conta.id) { %>
        <option value="<%= filtros.conta.id %>|<%= filtros.conta.descricao %>" selected><%= filtros.conta.descricao %></option>
      <% }else { %>
        <option value="" disabled selected>Contas</option>
      <% } %>          
      <% Contas.forEach(c => { %>
        <option value="<%= c.id %>|<%= c.descricao %>">
          <%= c.descricao %>
        </option>
        <% }); %>
    </select>


    <button class="w3-bar-item w3-tiny w3-round btn btn-primary me-2" name="ATUALIZAR" value="true">Pesquisar</button> 
  

  </div>

  <div class="w3-container mt-3">

    <div class="row">

      <div class="column">
        <table class="w3-small w3-card table w3-border w3-table table-hover table-striped" style="width: auto ;">
          <tr>
            <th>Conta</th>
            <th>Periodo</th>
            <th>Situação</th>
            <th>Dt Pagamento</th>    
            <th>Total</th>          
            <th></th>
          </tr>
          <% Faturas.forEach(dado => { %>
            <tr> 
              <td><%= dado.conta %></td>
              <td><%= dado.mes %>/<%= dado.ano %></td>

              <% if(dado.Situacao != 'PAGO'){ %>
                 <td style="background-color: rgb(240, 128, 128);"><b><%= dado.Situacao %></b></td>
                <% } else { %>
                  <td style="background-color: rgb(0, 255, 0);"><b><%= dado.Situacao %></b></td>
                <% } %>

              <td><%= dado.dt_pagamento %></td>
              <td><input class="btn SemBorda cell NrFormat" value="<%= dado.vlTotal %>"></td>

              <% if(dado.Situacao != 'PAGO'){ %>
              <td>
                <button name="PAGAR" value="<%= dado.id %>" class="w3-tiny w3-round btn btn-success">Pagar</button>
                <button name="DETALHES" value="<%= dado.id %>|<%= dado.mes %>|<%= dado.ano %>" class="w3-tiny w3-round btn btn-primary">>></button>
              </td>
              <% } else { %>
                <td>
                  <div class="w3-tiny w3-round btn btn-secondary">Pagar</div>
                  <button name="DETALHES" value="<%= dado.id %>|<%= dado.mes %>|<%= dado.ano %>" class="w3-tiny w3-round btn btn-primary">>></button>
                </td>
              <% } %>
            </tr>
          <% }); %>
        </table>
      </div>

     
      <% if(itemsFatura.length > 0) { %>
        <div class="column">
      <% } else { %>
        <div class="column" hidden>
      <% }  %>     
        <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped" style="width: auto;" id="tblItemFatura" style="width: auto ;">
          <thead>
            <tr>  
              <th>Motivo</th>  
              <th>Valor</th> 
              <th>Situação</th>
              <th></th>
            </tr>
            <% itemsFatura.forEach(dado => { %>
            <tr>
                <td><%= dado.motivo %></td>
                <td><input class="btn SemBorda cell NrFormat" value="<%= dado.valor %>"></td>

                <% if(dado.situacao != 'PAGO'){ %>
                  <td style="background-color: rgb(240, 128, 128);"><b><%= dado.situacao %></b></td> 
                  <td>
                    <button name="DEL_ITEM" value="<%= dado.fatura %>|<%= dado.gasto %>" class="w3-tiny w3-round btn btn-danger">X</button>
                  </td>
                  <% } else { %>
                    <td style="background-color: rgb(0, 255, 0);"><b><%= dado.situacao %></b></td> 
                    <td>
                      <div class="w3-tiny w3-round btn btn-secondary">X</div>
                    </td>
                  <% } %>

               
            </tr>
            <% }); %>
          </thead>
          <tbody>          
           
                       
          </tbody>
        </table>
      </div>

    </div>

  
  </div>

</form>
</body>
</html>
