<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <title>Fatura</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/styles.css">  
</head>
<body>

<div class="container mt-3">
  <h2>Fatura</h2>
  <hr>
  <div class="btn-group">
  <form action="/Fatura/Atualizar" method="post">
      <a href="/Carteira/ConsultaGastosResumoAnual" class="btn btn-info">Inicio</a>
  </div>
</div>

<div class="container mt-3">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
  <div class="collapse navbar-collapse" id="mynavbar">
    
    <input class="form-control me-2" type="month" id="bdaymonth" name="mes" value="<%= dataInicial %>">

    <select class="form-control me-2" name="conta" style="width: auto;">
      <% if(filtros.conta.id) { %>
        <option value="<%= filtros.conta.id %>|<%= filtros.conta.descricao %>" selected><%= filtros.conta.descricao %></option>
      <% }else { %>
        <option value="" disabled selected>Contas</option>
      <% } %>          
      <% Contas.forEach(c => { %>
        <option value="<%= c.id %>|<%= c.descricao %>">
          <%= c.descricao %>
        </option>
        <% }); %>
    </select>

    <button class="btn btn-primary me-2" name="ATUALIZAR" value="true">Atualizar</button> 
    <button class="btn btn-success me-2" name="PAGAR" value="true">Pagar Fatura</button>
  </div>
  </div>
  </nav>
</div>


<div class="container mt-3">
  <table class="table table-dark table-striped table-sm" style="width: auto;">
    <thead>
      <tr>  
        <th>Motivo</th>  
        <th>Valor</th> 
        <th>Conta Bancaria</th>    
        <th>Mes</th>
        <th>Ano</th>   
        <th></th> 
      </tr>
    </thead>
    <tbody>          
      <% GastosFatura.forEach(g => { %>
      <tr>
        <td><%= g.motivo %></td>  
        <td style="color:red ;">$ <%= g.valor %></td>
        <td><%= g.conta %></td>
        <td><%= g.mes %></td>
        <td><%= g.ano %></td>
        <td><button name="DEL" value="<%= g.id %>" class="btn-sm form-control btn-danger">X</button></td>
      </tr>  
      <% }); %>             
    </tbody>
  </table>
</div>

</form>
</body>
</html>
