  <!-- ADD GASTOS -->
<div class="modal" id="modalAdicionarGastos">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
  
    <form class="w3-container was-validated" action="/MotivoGastos/Click" method="post">
  
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Adicionar Gasto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
        <div class="form-group">              
            <input class="form-control" type="text" name="nome" id="nome" style="width: auto;" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">escreva a descrição do gasto.</div>
        </div>
  
        </div>
  
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button onclick="ativaCarregamento(this,'btCarregando_AddGasto')" type="submit" class="btn btn-success" name="CONFIRMAR_ADD" value="true">Confirmar</button> 
        </form>       
        
        <button id="btCarregando_AddGasto" class="btn btn-success" disabled hidden><span class="spinner-border spinner-border-sm"></span>Aguarde..</button>   
        <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>           
        </div>
  
    </div>
    </div>
  </div>
  
   <!-- EXCLUIR GASTOS -->
<div class="modal" id="modalExcluirGasto">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <form class="w3-container was-validated" action="/MotivoGastos/Click" method="post">  

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Excluir Gasto</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">              
            <input id="DescGastoDell" class="form-control" type="text" name="GASTO" style="width: auto;" required readonly>                          
          </div>
        </div>    
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button onclick="ativaCarregamento(this,'btCarregando_DellGasto')" type="submit" class="btn btn-success" name="CONF_DEL" value="true">Confirmar</button> 
        </form>   
          
          <button id="btCarregando_DellGasto" class="btn btn-success" disabled hidden><span class="spinner-border spinner-border-sm"></span>Aguarde..</button>       
          <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
        </div>

    </div>
  </div>
</div>

<!-- JANELA GASTOS -->
<div class="modal" id="modalJanelaGasto">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
            <div class="modal-header">
            <h4 id="TituloJanelaGasto" class="modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>   
            
            <div class="modal-body">
            <div class="form-group">            
                
                <div class="container mt-3">
                <h4>Registro de Gastos</h4>
                <br>
                
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#AdicionarGasto">Adicionar</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#ListaGasto">Lista</a>
                    </li>                  
                </ul>
                
                <div class="tab-content">

                    <!-- ADD -->
                    <div id="AdicionarGasto" class="container tab-pane active"><br>
                    <form class="w3-container was-validated" action="/Carteira/CofirmarRegistroGastos" method="post">

                        <input placeholder="Valor" class="form-control" type="number" step="0.01" name="valor" style="width: auto;" required>
                        <br>
                    
                        <input id="campoMotivoGasto" class="form-control" type="text" name="motivoGastos" style="width: auto;" hidden readonly> 
                    
                        <input id="campoDataGasto" class="w3-input w3-border form-control me-2" type="date" name="dtVencimento" required>
                        <br>
                    
                        <select class="form-control me-2" name="formaPagamento" style="width: auto;" required>
                        <option value="" disabled selected>Forma de Pagamento</option>           
                        <option value="DINHEIRO">DINHEIRO</option>
                        <option value="CREDITO">CARTAO DE CREDITO</option>
                        </select>
                        <br>
                    
                        <select class="form-control me-2" name="conta" style="width: auto;" required>      
                        <option value="" disabled selected>Contas</option>              
                        <% Contas.forEach(c => { %>
                            <option value="<%= c.id %>|<%= c.descricao %>"><%= c.descricao %></option>
                        <% }); %>
                        </select>
                        <br>
                    
                        <input placeholder="TAG(Opcional)" class="w3-input w3-border form-control me-2" type="text" onkeyup="this.value = this.value.toLowerCase();" name="tag" maxlength="10">
                        <br>

                        <div class="row">
                        <div class="col">                        
                            <div id="orcamentodiv">
                              <input type="checkbox" name="orcamento" id="orcamento" onclick="checkName('orcamento',['parceladodiv','pagodiv','faturadiv'],'GASTO')"> ORÇAMENTO
                            </div>
                        
                            <div id="parceladodiv">
                            <input type="checkbox" name="parcelado" id="parcelado" onclick="checkName('parcelado',['fimAnodiv','orcamentodiv'],'GASTO')"> PARCELADO
                            <br>
                                <div id="divTpValor" hidden>          
                                <input type="radio" id="tpValorBruto" name="tpValor" value="B">
                                <label for="age1">Valor é BRUTO</label><br>
                                <input type="radio" id="tpValorParcela" name="tpValor" value="P">
                                <label for="age2">Valor é da PARCELA</label><br>
                                </div>      
                            
                            </div>
                        
                            <input placeholder="Quantas parcelas?" class="w3-input w3-border form-control me-2" name="qtParcelas" step="0.01" type="number" id="qtParcelas" hidden>                             
                        </div>

                        <div class="col">

                            <div id="pagodiv">
                            <input type="checkbox" name="pago" id="pago" hidden>
                            </div>

                            <div id="fimAnodiv">
                              <input type="checkbox" name="fimAno" id="fimAno" onclick="checkName('fimAno',['parceladodiv'])"> ANO TODO
                              </div>  

                            <div id="pagodiv">
                            <input type="checkbox" name="pagoDesconta" id="pagoDesconta"> PAGA
                            </div>                              
                                                       
                        </div>
                    </div>
                        <br>
                        <button onclick="ativaCarregamento(this,'btCarregando_AddRegGasto')" type="submit" class="btn w3-green">Confirmar</button>
                        <button id="btCarregando_AddRegGasto" class="btn btn-success" disabled hidden><span class="spinner-border spinner-border-sm"></span>Aguarde..</button>    
                    </form>          
                    </div>

                    <!-- LISTA -->
                    <div id="ListaGasto" class="container tab-pane fade"><br>

                    <input onchange="FiltroTabela('nmMotivoGasto','mesRegistroGasto','tblEditarGasto',1,2)" id="nmMotivoGasto" hidden>
                    <input onchange="FiltroTabela('nmMotivoGasto','mesRegistroGasto','tblEditarGasto',1,2)" id="mesRegistroGasto" hidden>

                        <table class="w3-small w3-card table w3-border w3-table table-hover TabelaDinamica table-striped" id="tblEditarGasto">
                            <thead>
                            <tr>  
                                <th></th> 
                                <th hidden></th>   
                                <th hidden></th>                      
                                <th>Valor</th> 
                                <th>Dt Venc.</th>
                                <th>Situação</th>  
                                <th></th> 
                            </tr>
                            </thead>
                            <tbody>          
                            <% ListaGastos.forEach(g => { %>
                                <% if(anoSelect == g.ano){ %>
                                <td><button onclick="setValorEdi(this,'idEditarGasto','valorEditarGasto')" data-bs-toggle="modal" data-bs-target="#modalEditarRegistroGasto" value="<%= g.id %>|<%= g.valor %>" class="w3-tiny w3-round btn-warning">E</button>
                                <button onclick="setIdDell(this,'IdDellGasto')"  data-bs-toggle="modal" data-bs-target="#modalExcluirRegistroGasto" value="<%= g.id %>" class="w3-tiny w3-round btn-danger">X</button></td>         
                                <td hidden><%= g.motivo %></td>
                                <td hidden><%= g.mes %></td>

                                <% if(g.tag){ %>
                                <td onclick="setIdRegistroTag('<%= g.id %>','idRegistroTagDel','GASTO')" class="pointer" data-bs-toggle="modal" data-bs-target="#modalExcluirTag"><%= g.valor %>
                                    <span class="w3-tag w3-tiny w3-black"><%= g.tag %></span>
                                </td> 
                                <% }else{ %>
                                    <td onclick="setIdRegistroTag('<%= g.id %>','idRegistroTagAdd','GASTO')" class="pointer" data-bs-toggle="modal" data-bs-target="#modalAdicionarTag"><%= g.valor %></td> 
                                <% } %>



                                <td><%= g.dt_vencimento %></td>
                    
                                <% if(g.situacao == 'PAGO') { %>
                                <td style="color:rgb(0, 255, 0);"><%= g.situacao %></td>
                                <% } else if(g.situacao == 'ATRASADO'){ %> 
                                <td style="color:rgb(249, 224, 0);"><%= g.situacao %></td>
                                <% } else if(g.situacao == 'ORCAMENTO'){ %> 
                                <td style="color:rgb(0, 45, 248);"><%= g.situacao %></td>
                                <% } else { %> 
                                <td style="color:rgb(250, 0, 0);"><%= g.situacao %></td>
                                <% } %> 
                    
                                <% if(g.inOrcamentario) { %>
                                    <td>
                                    <div class="btn-group">
                                        <button onclick="setValorConsumo(this,'idConsumoGasto','valorConsumoGasto','dataConsumoGasto')" data-bs-toggle="modal" data-bs-target="#modalConsumirOrcamentoGasto" value="<%= g.id %>|<%= g.valor %>" class="w3-tiny w3-round btn-info">Consumir</button>                                     
                                    </div>
                                    </td>
                                <% } else if(g.situacao != 'PAGO' && !g.inFatura) { %> 
                                <form action="/Carteira/PagarGasto" method="post">
                                    <td>
                                    <div class="btn-group">
                                        <button name="PAGAR" value="<%= g.id %>" class="w3-tiny w3-round btn-primary">Pagar</button>
                                        <button name="ADD_FATURA" value="<%= g.id %>|<%= g.mes %>|<%= g.ano %>|<%= g.conta %>" class="w3-tiny w3-round btn-info">Fatura</button>
                                    </div>
                                    </td>                  
                                <% } else if(g.inFatura) { %>
                                    <td>FATURA</td>                
                                <% }else { %>
                                    <td></td>                
                                <% } %>
                                </form>
                    
                            </tr>  
                            <% } %>
                            <% }); %>             
                            </tbody>
                        </table>

                    </div>
                </div>
                </div>

            </div>
            </div> 
            
            <div class="modal-footer">
            <div class="btn btn-danger" data-bs-dismiss="modal">Fechar</div>           
            </div>

        </div>
    </div>
</div>

 <!-- EDITAR REGISTRO GASTOS -->
<div class="modal" id="modalEditarRegistroGasto">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickGastos" method="post">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Editar Registro</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group"> 
              <input name="ano" value="<%= anoSelect %>" hidden>
              <input id="idEditarGasto" class="form-control" type="text" name="id" style="width: auto;" hidden>             
              <input id="valorEditarGasto" class="form-control" type="number" step="0.01"name="valor" style="width: auto;" required> 
              <div class="invalid-feedback">insira um valor</div> 
              <br>
              <input type="checkbox" name="inAnoTodo"> ANO TODO                                  
            </div>
          </div>    
        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button onclick="ativaCarregamento(this,'btCarregando_EdiRegGasto')" type="submit" class="btn btn-success" name="EDI" value="true">Confirmar</button> 
          </form>     
            <button id="btCarregando_EdiRegGasto" class="btn btn-success" disabled hidden><span class="spinner-border spinner-border-sm"></span>Aguarde..</button>     
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
</div>

 <!-- EXCLUIR REGISTRO GASTOS -->
<div class="modal" id="modalExcluirRegistroGasto">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form class="w3-container was-validated" action="/Carteira/ClickGastos" method="post">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Excluir Registro</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body" hidden>
            <div class="form-group">   
              <input name="ano" value="<%= anoSelect %>" hidden>           
              <input id="IdDellGasto" class="form-control" type="text" name="id" style="width: auto;">                                    
            </div>
          </div>    
        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button onclick="ativaCarregamento(this,'btCarregando_DelRegGasto')" type="submit" class="btn btn-success" name="DEL" value="true">Confirmar</button> 
          </form>   
            <button id="btCarregando_DelRegGasto" class="btn btn-success" disabled hidden><span class="spinner-border spinner-border-sm"></span>Aguarde..</button>       
            <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
          </div>

      </div>
    </div>
</div>

<!-- CONSUMIR ORCAMENTO -->
<div class="modal" id="modalConsumirOrcamentoGasto">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <form class="w3-container was-validated" action="/Carteira/PagarGasto" method="post">

        <div class="modal-header">
          <h4 class="modal-title">Consumir Orcamento</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
       
        <div class="modal-body">
          <div class="form-group"> 

            <label class="w3-text-black"><h4>Saldo</h4></label>
            <input id="valorConsumoGasto" class="form-control" type="number" step="0.01" style="width: auto;" readonly>
            <br>
            
            <input placeholder="Valor Usado" class="form-control" type="number" step="0.01" name="valor" id="valor" style="width: auto;" required>
            <br>

            <input id="idConsumoGasto" class="form-control" type="text" name="idRegistroOrcGasto" style="width: auto;" hidden> 
            <input id="dataConsumoGasto" class="w3-input w3-border form-control me-2" type="date"  name="dataConsumo">
            <br>

            <input  type="checkbox"  name="inZerar"> Consumir/Zerar
            <br>
            <input type="checkbox" name="inFatura"> ADD FATURA
            <br>
            <input type="checkbox" name="inPaga"> PAGA
            <hr>
           
            <button onclick="ativaCarregamento(this,'btCarregando_ConsuRegGasto')" name="CONSUMIR" value="true" class="btn w3-green">Confirmar</button>
            <button id="btCarregando_ConsuRegGasto" class="btn btn-success" disabled hidden><span class="spinner-border spinner-border-sm"></span>Aguarde..</button>
          </div>
        </div>    
      
       
        <div class="modal-footer">
         
        </form>          
          <div class="btn btn-danger" data-bs-dismiss="modal">Cancelar</div>           
        </div>

    </div>
  </div>
</div>